*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    width: 100%;
    height: 100%;
}

/* Position Absolute : The element which is absolute will rise-up and other elements take the space below the risen element. They all will rise in layers (Layer-1,2,3) */

/* Position Relative : 

1. I have a white board(parent), and a colorfull dice in it.
2. Now, I made the dice absolute, so it rises and can go out of the parent (white board)
3. But I want to rise it up, but don't want it to go leave the board. So, on which I will apply position relative?
4. Position relative will be applied on the white board from where I don't want it to leave after rising(position absolute) also.

In which we want to keep the element, we make it position relative


Positions:  Fixed, static(by-default), sticky

*/

#car1{      /* Layer1*/
    position: relative;
    width: 180px;
    height: 190px;
    background-color: red;
}

#car2{/* Layer2*/
    position: absolute;
    top: 45%;
    width: 150px;
    height: 149px;
    background-color: green;

}
#car3{   /* Layer3 */
    width: 130px;
    height: 120px;
    background-color: black;
}











